
@layout("About Page") {
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    About
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>This is just a demo application. Don't expect much.</p>

                <div class="alert alert-info" role="alert">
                    By the way, this page only contains static content (no model provided by the
                    servlet and used by the view).
                </div>
            </div>
        </div>

    </div>
}