
@(chatId: String)

@layout("Chat") {
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Change chat id
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form method="POST" role="form" action="pages/app?operation=${operation}&id=${id}">
                    <div class="form-group">
                        <label>Application name</label>
                        <input id="tfNameLocator" class="form-control" name="name" value="chatId" placeholder="Enter Chat ID">

                    </div>
                    <a id="bCancelLocator" class="btn btn-danger" href="" role="button">Sumbmit</a>
                </form>
            </div>
        </div>


    </div>
}